<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AI Art Gallery</title>
  <link rel="stylesheet" href="./dist/styles/gallery.css">
</head>
<body>
  <h1>AI Art Gallery</h1>
  <div id="artGallery"></div>
  <script src="./dist/scripts/gallery.js"></script>
  <footer id="dynamicFooter"></footer>
  <script src="https://cursedprograms.github.io/cursedentertainment/scripts/footer.js"></script>
</body>
</html>