<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cursedprograms.github.io/cursedentertainment/styles/main-style.css" rel="stylesheet"
    type="text/css">
  <link href="https://cursedprograms.github.io/cursedentertainment/styles/error-style.css" rel="stylesheet"
    type="text/css">
  <title>500 - Internal Server Error</title>
</head>

<body>
  <div class="container">
    <h1>500 - Internal Server Error</h1>
    <div id="errorMessageContainer"></div>
  </div>
  <footer id="dynamicFooter"></footer>
  <script src="https://cursedprograms.github.io/cursedentertainment/scripts/footer.js"></script>
  <script src="https://cursedprograms.github.io/cursedentertainment/scripts/500-error-message.js"></script>
</body>

</html>